<div class="list row ">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">
          Search
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-8 ml-auto mr-auto">
    <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
      (pageChange)="handlePageChange($event)"></pagination-controls>
  </div>


  <div class="col-md-12 ml-auto mr-auto">
    <h4>Articles List</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let article of articles | paginate : {
        itemsPerPage: pageSize,
        currentPage: page,
        totalItems: count
      }; let i = index" [class.active]="i == currentIndex" (click)="goToArticle(article.id)">
        <div class="card mb-3">
          <div class="row g0-">
            <div class="col-md-4">
              <label><strong>Image:</strong></label>
              <img [src]="article.imageEncoded2">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><strong>titre :</strong> {{ article.title }} <br /></h5>
                <p class="card-text"><strong>titre :</strong> {{ article.title }} <br />
                  <strong>Description :</strong> {{ article.description }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="mt-3 ml-auto mr-auto">
      Items per Page:
      <select (change)="handlePageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>

    <div *ngIf="!currentArticle">
      <br />
      <p>Please click on a Article...</p>
    </div>
  </div>
</div>


<!-- <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <label><strong>Image:</strong></label>
      <img [src]="article.imageEncoded2">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><strong>titre :</strong> {{ article.title }} <br /></h5>
        <p class="card-text"><strong>titre :</strong> {{ article.title }} <br />
          <strong>Description :</strong> {{ article.description }}
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div> -->