<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="post" class="navbar-brand"><img src="..\assets\image\logo.png" alt="logo groupomania" id="logo"></a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">

      <li class="nav-item">
        <a routerLink="add" class="nav-link" *ngIf="isLoggedIn">Add</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item">
        <a href="/profile" class="nav-link" *ngIf="isLoggedIn" routerLink="profile">Profile</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">

      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>