<div class="col-md-6">
  <div *ngIf="currentArticle">
    <h4>Article</h4>
    <div>
      <label><strong>Title:</strong></label> {{ currentArticle.title }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentArticle.description }}
    </div>
    <div>
      <label><strong>Image:</strong></label>
      <img [src]="imagePost">
    </div>

    <div *ngIf="this.currentArticle.user">
      <div>
        <label><strong>Poster par:</strong></label>
        {{ this.currentArticle.user.nom }} {{ this.currentArticle.user.prenom }}
      </div>
    </div>

    <a class="badge badge-warning" *ngIf="(isLoggedIn && this.currentArticle.user.id == userId) || isAdmin"
      routerLink="/post/edit/{{ currentArticle.id }}">
      Edit
    </a>
    <button class="badge badge-danger mr-2" *ngIf="(isLoggedIn && this.currentArticle.user.id == userId) || isAdmin"
      (click)="deleteArticle()">
      Delete
    </button>
  </div>

  <div *ngIf="currentArticle.comment">
    <div class="col-md-6">
      <h4>Commentaire</h4>
      <div *ngFor="let commentaire of currentArticle.comment; let i = index">
        <div>
          <label><strong>Commentaire :</strong></label>
          {{ commentaire.text }}
        </div>
        <button class="badge badge-danger mr-2" *ngIf="(isLoggedIn && commentaire.userId == userId) || isAdmin"
          (click)="deleteComment(commentaire.id)">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div class="submit-form">
  <div *ngIf="!submitted">
    <div class="form-group">

      <h4>Ajouter un commentaire :</h4>
      <input class="form-control" id="text" required [(ngModel)]="comment.text" name="text" />
    </div>

    <button (click)="saveComment()" class="btn btn-success">Submit</button>
  </div>

</div>